<!DOCTYPE html>
<html>
  <head>
    <title>RailsReactBaseApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%#= javascript_pack_tag 'src/index' %>
    <%= stylesheet_pack_tag 'admin' %>
  </head>

  <body class="off-canvas-sidebar">
    <%= yield %>
  </>
</html>
